#ignore node_modules
/node_modules

#ignore media
#--slider--
/media/images/slider/origin/*
/media/images/slider/thumb/*
!/media/images/slider/origin/.gitkeep
!/media/images/slider/thumb/.gitkeep
#--post--
/media/images/post/origin/*
/media/images/post/thumb/*
!/media/images/post/origin/.gitkeep
!/media/images/post/thumb/.gitkeep
#--service--
/media/images/service/origin/*
/media/images/service/thumb/*
!/media/images/service/origin/.gitkeep
!/media/images/service/thumb/.gitkeep
#--avatar--
/media/images/avatar/origin/*
/media/images/avatar/thumb/*
!/media/images/avatar/origin/.gitkeep
!/media/images/avatar/thumb/.gitkeep
#--store--
/media/images/store/origin/*
/media/images/store/thumb/*
!/media/images/store/origin/.gitkeep
!/media/images/store/thumb/.gitkeep

#ignore some config variable local
.env
/config/main.js
