#ignore node_modules
/node_modules

#ignore media
#--file--#
/media/files/import-template/*
/media/files/import/*
/media/files/export/*
!/media/files/import-template/.gitkeep
!/media/files/import/.gitkeep
!/media/files/export/.gitkeep
#--slider--
/media/images/slider/origin/*
/media/images/slider/thumb/*
!/media/images/slider/origin/.gitkeep
!/media/images/slider/thumb/.gitkeep
#--post--
/media/images/post/origin/*
/media/images/post/thumb/*
!/media/images/post/origin/.gitkeep
!/media/images/post/thumb/.gitkeep
#--service--
/media/images/service/origin/*
/media/images/service/thumb/*
!/media/images/service/origin/.gitkeep
!/media/images/service/thumb/.gitkeep
#--utility--
/media/images/utility/origin/*
/media/images/utility/thumb/*
!/media/images/utility/origin/.gitkeep
!/media/images/utility/thumb/.gitkeep
#--avatar--
/media/images/avatar/origin/*
/media/images/avatar/thumb/*
!/media/images/avatar/origin/.gitkeep
!/media/images/avatar/thumb/.gitkeep
#--feedback--
/media/images/feedback/origin/*
/media/images/feedback/thumb/*
!/media/images/feedback/origin/.gitkeep
!/media/images/feedback/thumb/.gitkeep
#--cost & cost type--
/media/images/cost/origin/*
/media/images/cost/thumb/*
!/media/images/cost/origin/.gitkeep
!/media/images/cost/thumb/.gitkeep
#--store--
/media/images/store/*
!/media/images/store/.gitkeep

#ignore some config variable local
.env
/config/main.js
