.item-header
.menu-item(class=(current && current[0]=='dashboard') && 'active')
    a(href="/")
        i.icon.fa.fa-dashboard
        span.link-title Dashboard
.menu-item(class=(current && current[0]=='slider') && 'active')
    a(href="/slider")
        i.icon.fa.fa-picture-o
        span.link-title Ảnh slide
.menu-item(class=(current && current[0]=='apartment-building-group') && 'active')
    a(href="/apartment-building-group")
        i.icon.fa.fa-bank
        span.link-title Chung cư
.menu-item(class=(current && current[0]=='apartment-building') && 'active')
    a(href="/apartment-building")
        i.icon.fa.fa-building
        span.link-title Tòa nhà
.menu-item(class=(current && current[0]=='apartment') && 'active')
    a(href="/apartment")
        i.icon.fa.fa-home
        span.link-title Căn hộ
.menu-item(class=(current && current[0]=='post-category') && 'active')
    a(href="/post-category")
        i.icon.fa.fa-users
        span.link-title Cộng đồng
.menu-item(class=(current && current[0]=='service') && 'active')
    a(href="/service")
        i.icon.fa.fa-coffee
        span.link-title Dịch vụ
.menu-item(class=(current && current[0]=='service-request') && 'active')
    a(href="/service-request")
        i.icon.fa.fa-phone
        span.link-title Yêu cầu dịch vụ
.menu-item(class=(current && current[0]=='utility') && 'active')
    a(href="/utility")
        i.icon.fa.fa-cogs
        span.link-title Tiện ích
.menu-item(class=(current && current[0]=='chat-group') && 'active')
    a(href="/chat-group")
        i.icon.fa.fa-users
        span.link-title Nhóm chat
.menu-item(class=(current && current[0]=='feedback') && 'active')
    a(href="/feedback")
        i.icon.fa.fa-comments
        span.link-title Báo cáo sai phạm
.menu-item(class=(current && current[0]=='feedbackflag1') && 'active')
    a(href="/feedback?flag=1")
        i.icon.fa.fa-bell
        span.link-title Báo cháy
.menu-item(class=(current && current[0]=='cost') && 'active')
    a(href="/cost")
        i.icon.fa.fa-usd
        span.link-title Chi phí
.menu-item(class=(current && current[0]=='payment') && 'active')
    a(href="/payment/billing")
        i.icon.fa.fa-money
        span.link-title Thanh toán
.menu-item(class=(current && current[0]=='user') && 'active')
    a(href="/user")
        i.icon.fa.fa-user-o
        span.link-title Tài khoản
.menu-item(class=(current && current[0]=='static-page') && 'active')
    a(href="/static-page")
        i.icon.fa.fa-file-text
        span.link-title Trang tĩnh