.item-header
.menu-item(class=(current && current[0]=='dashboard') && 'active')
    a(href="/")
        i.icon.fa.fa-dashboard
        span.link-title Dashboard
.menu-item(class=(current && current[0]=='slider') && 'active')
    a(href="/slider")
        i.icon.fa.fa-picture-o
        span.link-title Ảnh slide
.menu-item(class=(current && current[0]=='apartment-building-group') && 'active')
    a(href="/apartment-building-group")
        i.icon.fa.fa-bank
        span.link-title Chung cư
.menu-item(class=(current && current[0]=='apartment-building') && 'active')
    a(href="/apartment-building")
        i.icon.fa.fa-building
        span.link-title Tòa nhà
.menu-item(class=(current && current[0]=='apartment') && 'active')
    a(href="/apartment")
        i.icon.fa.fa-home
        span.link-title Căn hộ
.menu-item(class=(current && current[0]=='service') && 'active')
    a(href="/service")
        i.icon.fa.fa-coffee
        span.link-title Dịch vụ
.menu-item(class=(current && current[0]=='utility') && 'active')
    a(href="/utility")
        i.icon.fa.fa-cogs
        span.link-title Tiện ích
.menu-item(class=(current && current[0]=='cost') && 'active')
    a(href="/cost")
        i.icon.fa.fa-usd
        span.link-title Chi phí
.menu-item(class=(current && current[0]=='user') && 'active')
    a(href="/user")
        i.icon.fa.fa-user-o
        span.link-title Tài khoản