@font-face {
    font-family: sfMedium;
    src: url(/fonts/SF-UI-Text-Medium.ttf);
}
@font-face {
    font-family: sfRegular;
    src: url(/fonts/SF-UI-Text-Regular.ttf);
}

#header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #38a22c;
}
#header .logo img {
    margin: auto;
}
#main-content {
    background: #eeeeee;
}
#main-content a, #main-content a:hover, #main-content a:active {
    outline: none;
    text-decoration: none;
}

/* Css sidebar */
#sidebar {
    min-height: calc(100% - 50px);
}
#sidebar .menu-item {
   padding: 0 12px;
   border-left: 3px solid transparent;
}
#sidebar .menu-item.active {
    border-left: 3px solid #38a22c;
}
#sidebar .menu-item a {
    color: #000000;
    height: 42px;
    line-height: 42px;
    display: block;
}
#sidebar .menu-item a:hover, #sidebar .menu-item.active a {
    color: #f1981d;
}
#sidebar .menu-item a .icon, #sidebar .menu-item a .link-title {
    height: 42px;
    line-height: 42px;
    display: inline-block;
    font-size: 16px;
}
#sidebar .menu-item a .icon {
    width: 25px;
}
#sidebar .menu-item:hover a .icon, #sidebar .menu-item.active a .icon {
    color: #38a22c;
}
.menu-item .link-title {
    font-family: sfMedium;
}

/* Css content page */
#content {
    min-height: calc(100% - 50px);
    background: #ffffff;
}
#content .content-header {
    font-family: sfMedium;
    font-size: 16px;
    color: #000000;
}
input.mycropper-browse-file[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    width: 80px;
    height: 60px;
}
.custom-file-upload i{
    font-size: 28px;
    margin: auto;
}