@font-face {
    font-family: sfMedium;
    src: url(/fonts/SF-UI-Text-Medium.ttf);
}
@font-face {
    font-family: sfRegular;
    src: url(/fonts/SF-UI-Text-Regular.ttf);
}

/* crack froala editor lib*/
.fr-box .show-placeholder div:first-child a, .fr-box .fr-wrapper div:first-child a {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
}

.overflow-hidden {
    overflow: hidden;
}

#header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #38a22c;
}
#header .logo img {
    margin: auto;
}
#main-content {
    background: #eeeeee;
}
#main-content a, #main-content a:hover, #main-content a:active {
    outline: none;
    text-decoration: none;
}

/* Css sidebar */
#sidebar {
    min-height: calc(100% - 50px);
}
#sidebar .menu-item {
   padding: 0 12px;
   border-left: 3px solid transparent;
}
#sidebar .menu-item.active {
    border-left: 3px solid #38a22c;
}
#sidebar .menu-item a {
    color: #000000;
    height: 42px;
    line-height: 42px;
    display: block;
}
#sidebar .menu-item a:hover, #sidebar .menu-item.active a {
    color: #f1981d;
}
#sidebar .menu-item a .icon, #sidebar .menu-item a .link-title {
    height: 42px;
    line-height: 42px;
    display: inline-block;
    font-size: 16px;
}
#sidebar .menu-item a .icon {
    width: 25px;
}
#sidebar .menu-item:hover a .icon, #sidebar .menu-item.active a .icon {
    color: #38a22c;
}
.menu-item .link-title {
    font-family: sfMedium;
}

/* Css content page */
#content {
    min-height: calc(100% - 50px);
    background: #ffffff;
    padding-top: 15px;
}
#content .sub-menu {
    min-height: 100%;
    border-right: 1px solid #ccc;
}
.sub-menu .nav-tabs {
    border-bottom: 0;
}
.sub-menu .nav-tabs li {
    width: 100%;
}
.sub-menu .nav-tabs>li.active>a, .sub-menu .nav-tabs>li.active>a:focus, .sub-menu .nav-tabs>li.active>a:hover {
    border: 0;
    border-radius: 0;
    background: #dddddd;
    color: #000000;
}
#content .content-header {
    font-family: sfMedium;
    font-size: 16px;
    color: #000000;
}
input.mycropper-browse-file[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    width: 80px;
    height: 60px;
}
.custom-file-upload i{
    font-size: 28px;
    margin: auto;
}
.import-file {
    width: auto;
    height: auto;
    border: 0;
    margin: 0;
}
.import-file i {
    font-size: 16px;
}
.content-center {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: table;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
}
.content-center .content-center-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* Css confirm popup */
.confirm-action-container {
    display: inline-block;
    background: #fff;
    color: #000000;
    padding: 15px 15px 25px 15px;
    border-radius: 10px;
    max-width: 360px;
}
.confirm-action-container .icon.icon-question i {
    font-size: 30px;
    margin-bottom: 10px;
}
.confirm-action-container .confirm-actions {
    margin-top: 25px;
}
.confirm-actions .btn {
    margin: 0 10px;
}
.detail-header {
    padding: 5px 0;
    background: #3a589e;
    color: #ffffff;
    padding-right: 15px;
}
.detail-header .icon, .detail-header .detail-title {
    display: inline-block;
    font-family: sfRegular;
    font-size: 16px;
    /* font-weight: bold; */
}
.user-actions .btn {
    margin-right: 15px;
}
.detail-header .icon {
    padding: 0 15px;
}
.abgs-detail {
    border: 1px solid #f1f1f1;
}
.item-detail {
    padding: 15px 0 15px 15px;
}
.item-detail .icon, .item-detail .content {
    display: inline-block;
    vertical-align: top;
}
.item-detail .content {
    padding-left: 10px;
}
.apartment-buildings .body {
    padding: 15px 0;
    /* border: 1px solid #f1f1f1; */
}
.apartment-building-item .building-name {
    padding-bottom: 15px;
}
.apartment-building-item .building-content {
    background: #ffffff;
}
.building-content .item-detail .content {
    width: calc(100% - 25px);
}
.apartments .body {
    padding-top: 15px;
}
.apartment-item {
    padding: 10px;
}
.apartment-item .a-name, .apartment-item .a-content {
    display: inline-block;
    vertical-align: middle;
}
.apartment-item .a-name {
    /* padding: 0 25px; */
    width: 90px;
    height: 90px;
    line-height: 90px;
    background: #4966A2;
    color: #fff;
    font-family: sfMedium;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.apartment-item .a-content {
    padding-left: 15px;
    width: calc(100% - 90px);
    background: #ffffff;
}
.a-content .a-content-item {
    padding: 5px 0;
}
.a-content .a-content-item i {
    margin-right: 5px;
}
.modal-content {
    color: #000000;
}
#addExist .chosen-container-multi {
    width: 100% !important;
}
.resident .body {
    padding-top: 15px;
}
.resident-item {
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
}
.resident .delete-resident {
    position: absolute;
    right: 0;
    color: #d9534f;
    padding: 10px;
}
.resident .delete-resident:hover {
    color: #f1981d;
}
.resident-item .avatar {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
}
.resident-item .avatar img {
    max-width: 90px;
    max-height: 90px;
    margin: auto;
}
.resident-item .info {
    text-align: center;
    padding-top: 15px;
}
.resident-item .info .user-name {
    text-transform: uppercase;
    font-weight: bold;
    /* color: #000000; */
}
.noti-devider {
    width: 100%;
    padding: 6px 0;
    background: #eeeeee;
}
.noti-header {
    border-bottom: 1px solid #eeeeee;
}
.noti-header .icon, .noti-header .detail-title {
    display: inline-block;
}
.chosen-container-single {
    width: 100% !important;
}
.chosen-container-multi {
    width: 100% !important;
}