extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/libs/cropperjs/dist/cropper.min.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/froala_editor.min.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/froala_editor.pkgd.min.css')
	//- link(rel='stylesheet', href='/libs/froala-editor/css/froala_style.min.css')
	//- link(rel='stylesheet', href='/stylesheets/froala_editor.min.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
	link(rel='stylesheet', href='/stylesheets/cropper-editor.css')
block scripts
	script(src='/libs/cropperjs/dist/cropper.min.js')
	script(src='/libs/froala-editor/js/froala_editor.min.js')
	script(src='/libs/froala-editor/js/froala_editor.pkgd.min.js')
	//- script(src='/javascripts/froala_editor.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script(src='/javascripts/cropper-editor.js')
	script.
		$(function() {
			$('.chosen-status, .chosen-type').chosen({ allow_single_deselect: true, disable_search: true });
			$('#page-content').froalaEditor({
				heightMin: 280,
				// Button show xs
				toolbarButtons: [
					'fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-',
					'insertLink', 'insertImage', 'insertVideo', 'embedly', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'
				],
				toolbarButtonsXS: ['bold', 'italic', 'underline', 'fontFamily', 'fontSize', '-', 'insertTable', 'insertImage', 'undo', 'redo'],
				// Set the image upload URL.
				imageUploadURL: '/media/upload_image',
				// Load all images from folder
				imageManagerLoadURL: '/media/load_images'
			});
		});
block content
	.row
		.col-lg-12
			header
				.content-header Nhập dữ liệu tiện ích
			hr
			#div-1.body.collapse.in(aria-expanded='true', style='')
			form.form-horizontal(method='POST', action='/static-page/update/' + data._id)
				.form-group
					.col-lg-8(class=errors && errors.title && 'has-error')
						label.control-label(for='title') Tiêu đề
						input#page-title.form-control(type='text', name='title', value=data && data.title, placeholder='Tiêu đề')
						if errors && errors.title
							.help-block #{errors.title.msg}
				.form-group
					.col-lg-12
						label.control-label(for='content') Nội dung
						textarea#page-content.form-control(type='text', name='content', placeholder='Nội dung', rows=3) #{data ? data.content : ''}
				.form-group
					.col-lg-6
						label.control-label(for='type', style='display: block; text-align: left;') Loại trang
						select.form-control.chosen-type(name='type', data-placeholder='Loại trang', style='width: 150px;')
							option(value=1, selected=(data && data.type === 1) ? true : false) Điều khoản & chính sách
							option(value=2, selected=(data && data.type === 2) ? true : false) Về chúng tôi
					.col-lg-6
						label.control-label(for='status', style='display: block; text-align: left;') Status
						select.form-control.chosen-status(name='status', data-placeholder='Status', style='width: 150px;')
							option(value=1, selected=(data && data.status === '1') ? true : false) Active
							option(value=0, selected=(data && data.status === '0') ? true : false) Inactive
				.form-group  
					.col-lg-8
						input#submit.btn.btn-success(type='submit', value='Lưu lại')
				